annotated-types==0.7.0
boto3==1.38.8
celery==5.5.2
certifi==2025.4.26
charset-normalizer==3.4.2
dotenv==0.9.9
idna==3.10
jmespath==1.0.1
kombu==5.5.3
playwright==1.52.0
prompt_toolkit==3.0.51
psycopg2-binary
pydantic==2.11.4
pydantic_core==2.33.2
pyee==13.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
requests==2.32.3
starlette==0.46.2
typing_extensions==4.13.2
facebook-business==22.0.4
